In [1]:
import csv
import pandas as pd

In [2]:
df1 = pd.read_csv('inputlists/sample_submission.csv')

In [3]:
df1

             fname                  label
0     00063640.wav  Laughter Hi-Hat Flute
1     0013a1db.wav  Laughter Hi-Hat Flute
2     002bb878.wav  Laughter Hi-Hat Flute
3     002d392d.wav  Laughter Hi-Hat Flute
4     00326aa9.wav  Laughter Hi-Hat Flute
...            ...                    ...
9395  ffe76321.wav  Laughter Hi-Hat Flute
9396  ffe8d42d.wav  Laughter Hi-Hat Flute
9397  ffeba2cd.wav  Laughter Hi-Hat Flute
9398  fff6d073.wav  Laughter Hi-Hat Flute
9399  fff8d22d.wav  Laughter Hi-Hat Flute

[9400 rows x 2 columns]

In [4]:
df2 = pd.read_csv('inputlists/train.csv')

In [5]:
df2

             fname         label  manually_verified
0     00044347.wav        Hi-hat                  0
1     001ca53d.wav     Saxophone                  1
2     002d256b.wav       Trumpet                  0
3     0033e230.wav  Glockenspiel                  1
4     00353774.wav         Cello                  1
...            ...           ...                ...
9468  ffec59fb.wav     Fireworks                  0
9469  fff37590.wav        Hi-hat                  0
9470  fff44ac6.wav      Laughter                  0
9471  fff6a13d.wav         Chime                  0
9472  fff81f55.wav         Cough                  1

[9473 rows x 3 columns]

In [8]:
df3 = df1.merge(df2, how = 'inner' ,indicator=False)
df3

Empty DataFrame
Columns: [fname, label, manually_verified]
Index: []

In [9]:
# so there are no common columns between the test and train datasets.

In [10]:
df2.label.drop_duplicates()

0                     Hi-hat
1                  Saxophone
2                    Trumpet
3               Glockenspiel
4                      Cello
6                      Knock
7         Gunshot_or_gunfire
8                   Clarinet
9          Computer_keyboard
11             Keys_jangling
12                Snare_drum
13                   Writing
15                  Laughter
17                   Tearing
18                      Fart
20                      Oboe
21                     Flute
23                     Cough
24                 Telephone
27                      Bark
29                     Chime
30                 Bass_drum
33                       Bus
34                    Squeak
35                  Scissors
36                 Harmonica
41                      Gong
43            Microwave_oven
44     Burping_or_eructation
47               Double_bass
49                   Shatter
51                 Fireworks
55                Tambourine
79                   Cowbell
91            Electric_piano
94                      Meow
111     Drawer_open_or_close
112                 Applause
117          Acoustic_guitar
140         Violin_or_fiddle
159          Finger_snapping
Name: label, dtype: object

In [19]:
df2[df2.label=='Laughter']

             fname     label  manually_verified
15    0097160c.wav  Laughter                  1
16    00ad7068.wav  Laughter                  0
19    00c934d7.wav  Laughter                  1
82    024a193f.wav  Laughter                  1
139   041396a9.wav  Laughter                  1
...            ...       ...                ...
9399  fe288eee.wav  Laughter                  0
9443  ff71bf59.wav  Laughter                  0
9456  ffbba18f.wav  Laughter                  0
9457  ffc8d3ae.wav  Laughter                  0
9470  fff44ac6.wav  Laughter                  0

[300 rows x 3 columns]

In [22]:
df2[df2.label=='Fireworks']

             fname      label  manually_verified
51    0193042e.wav  Fireworks                  0
53    019aae9d.wav  Fireworks                  0
81    0244bb9e.wav  Fireworks                  0
93    027aee2a.wav  Fireworks                  1
114   034beca1.wav  Fireworks                  0
...            ...        ...                ...
9375  fd5b4002.wav  Fireworks                  0
9378  fd6a8735.wav  Fireworks                  1
9439  ff402c67.wav  Fireworks                  1
9449  ff8e95db.wav  Fireworks                  0
9468  ffec59fb.wav  Fireworks                  0

[300 rows x 3 columns]

In [23]:
df2[df2.label=='Tearing']

             fname    label  manually_verified
17    00c5808a.wav  Tearing                  0
66    01ec7a01.wav  Tearing                  0
101   02c095b4.wav  Tearing                  0
141   04281949.wav  Tearing                  0
263   07762f74.wav  Tearing                  1
...            ...      ...                ...
9305  fb663e2b.wav  Tearing                  0
9311  fb7f8d1a.wav  Tearing                  0
9396  fdf0c135.wav  Tearing                  0
9418  fecbc85a.wav  Tearing                  0
9454  ffa61f00.wav  Tearing                  1

[300 rows x 3 columns]

In [25]:
df2[df2.label=='Bark']

             fname label  manually_verified
27    00e2b4cd.wav  Bark                  1
54    019d2a2c.wav  Bark                  1
70    020eb9f6.wav  Bark                  1
152   0457d8bc.wav  Bark                  0
162   04ab05a7.wav  Bark                  0
...            ...   ...                ...
9216  f90e431b.wav  Bark                  1
9224  f95c9a39.wav  Bark                  0
9253  fa2786f2.wav  Bark                  1
9291  fb14cf7c.wav  Bark                  0
9297  fb359da1.wav  Bark                  0

[239 rows x 3 columns]

In [26]:
df2[df2.label=='Cowbell']

             fname    label  manually_verified
79    0236dccb.wav  Cowbell                  0
90    0266774c.wav  Cowbell                  0
119   03586ad9.wav  Cowbell                  0
128   03cd971f.wav  Cowbell                  0
229   06d2b52b.wav  Cowbell                  1
...            ...      ...                ...
9242  f9afa20b.wav  Cowbell                  0
9302  fb574a89.wav  Cowbell                  1
9384  fdaa6854.wav  Cowbell                  1
9389  fdcd59ed.wav  Cowbell                  1
9440  ff462e1b.wav  Cowbell                  1

[191 rows x 3 columns]

In [27]:
df2[df2.label=='Drawer_open_or_close']

             fname                 label  manually_verified
111   032f7280.wav  Drawer_open_or_close                  0
133   03e9765d.wav  Drawer_open_or_close                  0
210   06487815.wav  Drawer_open_or_close                  1
236   06fbb272.wav  Drawer_open_or_close                  0
259   07563fea.wav  Drawer_open_or_close                  0
...            ...                   ...                ...
9335  fc4463ef.wav  Drawer_open_or_close                  1
9344  fc819359.wav  Drawer_open_or_close                  1
9425  fefc9687.wav  Drawer_open_or_close                  0
9426  fefcacd6.wav  Drawer_open_or_close                  1
9467  ffec1b59.wav  Drawer_open_or_close                  0

[158 rows x 3 columns]

In [28]:
df2[df2.label=='Applause']

             fname     label  manually_verified
112   03320f05.wav  Applause                  0
158   048fb352.wav  Applause                  0
180   05388f6c.wav  Applause                  0
209   0640c787.wav  Applause                  0
442   0c7ae294.wav  Applause                  1
...            ...       ...                ...
9293  fb25e7ba.wav  Applause                  0
9300  fb4858c1.wav  Applause                  0
9310  fb7eea4f.wav  Applause                  0
9358  fce9b146.wav  Applause                  0
9376  fd64ad7d.wav  Applause                  0

[300 rows x 3 columns]

In [31]:
df2[df2.label=='Meow']

             fname label  manually_verified
94    027cd3fd.wav  Meow                  1
125   03b4aca1.wav  Meow                  1
355   0a32271b.wav  Meow                  0
405   0b914d51.wav  Meow                  0
424   0c0f796c.wav  Meow                  1
...            ...   ...                ...
9286  faf61d4f.wav  Meow                  1
9333  fc35ee0b.wav  Meow                  1
9343  fc800c19.wav  Meow                  1
9366  fd1ae06f.wav  Meow                  1
9441  ff4ea3fe.wav  Meow                  0

[155 rows x 3 columns]

In [32]:
df2[df2.label=='Keys_jangling']

             fname          label  manually_verified
11    0075d39c.wav  Keys_jangling                  0
72    022092bc.wav  Keys_jangling                  0
85    0256c2f2.wav  Keys_jangling                  1
97    029b22f3.wav  Keys_jangling                  0
116   0350156b.wav  Keys_jangling                  0
...            ...            ...                ...
9213  f8f50808.wav  Keys_jangling                  1
9241  f9adb074.wav  Keys_jangling                  0
9264  fa67cfe3.wav  Keys_jangling                  0
9446  ff7e6638.wav  Keys_jangling                  0
9463  ffda1d2b.wav  Keys_jangling                  1

[139 rows x 3 columns]

In [11]:
categories = ['Bark','Meow']

In [12]:
#>gapminder_Ocean = gapminder[~gapminder.continent.isin(continents)]
#>gapminder_Ocean.shape
df_train_summary= df2[df2.label.isin(categories)]

In [13]:
df_train_summary

             fname label  manually_verified
27    00e2b4cd.wav  Bark                  1
54    019d2a2c.wav  Bark                  1
70    020eb9f6.wav  Bark                  1
94    027cd3fd.wav  Meow                  1
125   03b4aca1.wav  Meow                  1
...            ...   ...                ...
9297  fb359da1.wav  Bark                  0
9333  fc35ee0b.wav  Meow                  1
9343  fc800c19.wav  Meow                  1
9366  fd1ae06f.wav  Meow                  1
9441  ff4ea3fe.wav  Meow                  0

[394 rows x 3 columns]

In [16]:
df_train_summary.to_csv('train_selected_cat_dog.csv')

In [17]:
df_test_summary= df1[1:394]

In [18]:
df_test_summary

            fname                  label
1    0013a1db.wav  Laughter Hi-Hat Flute
2    002bb878.wav  Laughter Hi-Hat Flute
3    002d392d.wav  Laughter Hi-Hat Flute
4    00326aa9.wav  Laughter Hi-Hat Flute
5    0038a046.wav  Laughter Hi-Hat Flute
..            ...                    ...
389  0b07dc21.wav  Laughter Hi-Hat Flute
390  0b0df9a0.wav  Laughter Hi-Hat Flute
391  0b157a67.wav  Laughter Hi-Hat Flute
392  0b232eb1.wav  Laughter Hi-Hat Flute
393  0b244358.wav  Laughter Hi-Hat Flute

[393 rows x 2 columns]

In [19]:
df_test_summary.to_csv('sample_submission_selected_cat_dog.csv')

In [52]:
df1[df1.fname == "0013a1db.wav"]

          fname                  label
1  0013a1db.wav  Laughter Hi-Hat Flute

In [67]:
test = pd.read_csv (r'../Kaggle-Audio-Recognition-Resize/testlist_selfmade.txt')

In [68]:
test

             fname
0     00063640.wav
1     0013a1db.wav
2     002bb878.wav
3     002d392d.wav
4     00326aa9.wav
...            ...
9395  ffe76321.wav
9396  ffe8d42d.wav
9397  ffeba2cd.wav
9398  fff6d073.wav
9399  fff8d22d.wav

[9400 rows x 1 columns]

In [69]:
test['label']='Laughter Hi-Hat Flute'

In [70]:
test

             fname                  label
0     00063640.wav  Laughter Hi-Hat Flute
1     0013a1db.wav  Laughter Hi-Hat Flute
2     002bb878.wav  Laughter Hi-Hat Flute
3     002d392d.wav  Laughter Hi-Hat Flute
4     00326aa9.wav  Laughter Hi-Hat Flute
...            ...                    ...
9395  ffe76321.wav  Laughter Hi-Hat Flute
9396  ffe8d42d.wav  Laughter Hi-Hat Flute
9397  ffeba2cd.wav  Laughter Hi-Hat Flute
9398  fff6d073.wav  Laughter Hi-Hat Flute
9399  fff8d22d.wav  Laughter Hi-Hat Flute

[9400 rows x 2 columns]

In [71]:
test.to_csv (r'test_selected.csv', index=None)

In [72]:
test[test.fname == "0075d39c.wav"]

Empty DataFrame
Columns: [fname, label]
Index: []